html {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

*,::before, ::after{
  box-sizing:inherit;
}

body{
  background-color: rgba(252, 250, 250, 0.911);
}

.App {
  /* border:2px solid black; */
  padding:1rem;
}

.headerContainer{
  /* border:1px solid orange; */
  background-color: rgba(252, 250, 250, 0.979);
  position:sticky;
  top:0;
  z-index: 1;
  display:flex;
  flex-flow:row nowrap;
}

.pageName{
  /* border:1px solid blue; */
  color:rgba(218, 6, 6, 0.911);
  text-shadow:2px 1px 2px black;
  width:30%;
  font-size:3rem;
  font-weight:bold;
  margin-left: 2rem;
  z-index: 1;
}


.searchBarContainer{
  /* border:1px solid blue; */
  position:sticky;
  margin:1rem;
  padding-top:0.5rem;
  width:200%;
  z-index:1;
}

#searchBar{
  /* border:1px solid purple; */
  padding:0.3rem 0rem 0.3rem 0.5rem;
  width:100%;
  font-size:1rem;
}

.navBar{
  /* border:1px solid black; */
  background-color:rgba(252, 250, 250, 0.973);
  position:absolute;
  display:flex;
  flex-flow: row nowrap;
  width:100%;
  justify-content: flex-end;
  align-items: center;
  padding:1.8rem;
  z-index:0;
}

.navItem{
 /* border:1px solid blue; */
 font-size:1.1rem;
 width:10%;
 text-align:right;
}

.noResults{
  /* border:1px solid blue; */
  text-align: center;
  margin:5rem;
}

@media (max-width:1050px) {
  .navBar{
    /* border:1px solid green; */
    width:100%;
    margin-top:3rem;
    justify-content:flex-start;
  }
}
@media (max-width:860px){
  .pageName{
    /* border:1px solid blue; */
    color:rgba(218, 6, 6, 0.911);
    text-shadow:2px 1px 2px black;
    width:30%;
    font-size:2.5rem;
    margin-top:1rem;
  }
  #searchBar{
    /* border:1px solid purple; */
    padding:0.3rem 0rem 0.3rem 0.5rem;
    width:55%;
    font-size:1rem;
  }
  .navBar{
    /* border:1px solid green; */
    width:100%;
    margin-top:3.5rem;
    justify-content:center;
  }
  .navItem{
    /* border:1px solid blue; */
    font-size:1.1rem;
    width:20%;
    text-align:right;
   }
   
}